<section class="banner">
    <h2>BOOK YOUR TABLE NOW</h2> 
    <div class="card-container">
        <div class="card-img">
            <!--image here-->
        </div> 

        <div  class="card-content">
            <h3>Reservation</h3> 
            <br><br>
            <form>
                <div class=
                "form-row"> 
                 <select name=
                 "days"> 
                       <option value
                       ="day-select">Select Day 
                      </
                       option>  
                       <option value="sunday">Sunday</option> 
                       <option value="monday">Monday</option> 
                       <option value="tuesday">Tuesday</option> 
                       <option value="wednesday">Wednesday</option> 
                       <option value="thursday">Thursday</option> 
                       <option value="friday">Friday</option> 
                       <option value="saturday">Saturday</option>   
                       
                  </select>
                  
                  <select name="hours" id="hours">
                      <option value="hour-select">
                          Select Hour 
                      </option> 
                      <option value="10">7:00 PM </option> 
                      <option value="10">8:00 PM </option> 
                      <option value="10">9:00 PM </option> 
                      <option value="10">10:00 PM </option> 
                      <option value="10">11:00 PM</option> 
                      <option value="10">12:00 PM</option> 
                      <option value="10">13:00 PM</option> 
                  </select>
                </div> 

                <div class="form-row">
                    <input type="text" placeholder="Full name" required> 
                    <input type="text" placeholder="Phone number" required> 
                </div> 

                <div class="form-row">
                    <input type="number" placeholder="How Many Persons?" min="1" max="12" required>   
                    <input type="submit" value ="Book Table">  
                </div>
            </form>
        </div>
    </div> 
</section>